.route-thumbnail{
	overflow:hidden;
}
.main{
	margin: 0px auto;
	overflow:hidden;
	width:1000px;
}
.main_left{
	float:left;
	width:700px;
}
.main_right{
	float:left;
	width:300px
}
.route-row{
	overflow:hidden;
}
.route-row img{
	float:left;
	margin:8px 4px 8px 4px;
	width:150px;
	height:100px;
}
.route-row-selected {
	border:3px solid #C2DD91;
}
.route-quick-nav{
	float:left;
	overflow:hidden;
}
.route-quick-nav ul{
	width:25px;
}
/*
.route-quick-nav ul li{
	margin-bottom: 5px;
	border-right: 5px solid white;
}
.route-quick-nav:hover ul li{
	border-right: 5px solid black;
} */
.route-day-x-nav {
	margin-bottom: 5px;
	border-right: 5px solid white;
}
.route-day-x-nav:hover {
	border-right: 5px solid black;
}
